body{
    padding-top: 100px;
}

svg {
    /*width: 7300px;*/
    /*height: 1000px;*/
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

#info {
    min-width: 400px;
    height: auto;
    border: 1px solid #ccc;
    padding: 15px;
    float: right;
    position: fixed;
    background: white;
    moz-box-shadow: 0 0 20px 1px #DDD;
    -webkit-box-shadow: 0 0 20px 1px #DDD;
    font-size: 24px;
    line-height: 140%;
    left: 50px;
    top: 75px;

}

/* overrides bootstrap! */
.dropdown-menu > li > p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
}

.legend {
    padding: 8px;
    border: 1px solid #ccc;
    position: fixed;
    width: 140px;
    background: white;
    moz-box-shadow: 0 0 20px 1px #DDD;
    -webkit-box-shadow: 0 0 20px 1px #DDD;
    left: 50px;
    top: 220px;

}

.selected {
    background: #dcdcdc;
}

p.color:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.box {
    width: 1em;
    height: 1em;
    margin-right: 10px;
    display: inline-block;
}

.correct1 {
    fill: #33a02c;
    background: #33a02c;
    stroke: #23701e;
    border: 1px solid #23701e;
}

.wrong1 {
    fill: #e31a1c;
    background: #e31a1c;
    stroke: #9e1213;
    border: #9e1213 1px solid;
}

.correct2 {
    fill: #2c33a0;
    background: #2c33a0;
    stroke: #272D90;
    border: 1px solid #272D90;
}

.wrong2 {
    fill: #e31a1c;
    background: #e31a1c;
    stroke: #9e1213;
    border: #9e1213 1px solid;
}

.correct3 {
    fill: #cccccc;
    background: #cccccc;
    stroke: #999;
    border: #999 1px solid;
}

.wrong3 {
    fill: #333;
    background: #333;
    stroke: #111;
    border: 1px solid #111;
}

.inexact {
    fill: #ff7f00;
    stroke: #b25800;
    background: #ff7f00;
    border: 1px solid #b25800;

}

.redundant {
    fill: #1f78b4;
    stroke: #15547d;
    background: #1f78b4;
    border: 1px solid #15547d;

}

.copy {
    padding-left: 20px;
    font-style: italic;
    color: #DDD;
}

.btnclose {
    margin-right: -10px;
}

#spinnerdiv {
    /*display: none;*/
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
}